

<%- include('../layout/admin/header.ejs') %>

<div class="col-md-12"  style="  display: block; 
margin: auto;  
width: 74%;    
position: relative; 
top: 50%;
transform: translateY(-50%);">

   <form  class="rounded" style="    width: 81%; margin-left: 10%;" method="post" enctype="multipart/form-data">
         <h1 style="color: black; margin-left: 32%; margin-top: 20%;">ADD PRODUCT</h1>
         <br>
        <div class="mb-4">
          
            <label for="name"  class="form-label" style="color: black;">product :</label>
            <input type="text" name="name"  class="form-control" id="productname" />
            <p id="nameError" style="color: red"></p>
        </div>
        <div class="mb-4">
          
            <label for="name"  class="form-label" style="color: black;">Quantity :</label>
            <input type="text" name="Quantity"  class="form-control" id="name" />
            <p id="nameError" style="color: red"></p>
        </div>
        <div class="mb-4">
          
            <label for="name"  class="form-label" style="color: black;">Category :</label>
            <select type="text" name="category"  class="form-control" id="category" >
               <% category.forEach(data=>{%>
                <option value="<%= data._id %>"><%= data.name %></option>
              <% })%>
            </select>
            
        </div>
        <div class="mb-4">
          
            <label for="name"  class="form-label" style="color: black;text-shadow: 20%;">price :</label>
            <input type="text" name="Price"  class="form-control" id="price" />
            <p id="nameError" style="color: red"></p>
        </div>
   
       
       
        <div class="mb-4">
            <label for="Description" class="form-label" style="color: black;">Description :</label>
            <input type="text" name="description"  class="form-control" id="description" />
            <p id="DescriptionError" style="color: red"></p>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="row d-flex justify-content-between ">
        <div class="col-lg-3 col-md-6 rounded-image-preview">
            <div class="image-preview" id="imagePreview1"></div>
            <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" 
            onchange="previewImage(this, 'imagePreview1','cancelButton1')">
            <button class="cancel-button" id="cancelButton1"   style="display: none; background-color: red;
            border: none;"  onclick="cancelImageSelection('imageInput1', 'imagePreview1')">Cancel</button>
            <label for="imageInput1" class="image-label"></label>
          
        </div>
        <div class="col-lg-3 col-md-6 rounded-image-preview">
            <div class="image-preview" id="imagePreview2"></div>
            <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput" 
            onchange="previewImage(this, 'imagePreview2','cancelButton2')">
            <button class="cancel-button" id="cancelButton2"   style="display: none; background-color: red;
            border: none;"  onclick="cancelImageSelection('imageInput2', 'imagePreview2')">Cancel</button>  
            <label for="imageInput2" class="image-label">  
               
            </label>
          
        </div>
        <div class="col-lg-3 col-md-6 rounded-image-preview">
            <div class="image-preview" id="imagePreview3"></div>
            <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput" 
            onchange="previewImage(this, 'imagePreview3','cancelButton3')" >
            <button class="cancel-button" id="cancelButton3"   style="display: none; background-color: red;
            border: none;"  onclick="cancelImageSelection('imageInput3', 'imagePreview3')">Cancel</button>
            <label for="imageInput2" class="image-label">   
               
            </label>
          
        </div>
        <div class="col-lg-3 col-md-6 rounded-image-preview">

            
            <div class="image-preview" id="imagePreview4"></div>
            <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput"
            onchange="previewImage(this, 'imagePreview4','cancelButton4')" >
            <button class="cancel-button" id="cancelButton4"   style="display: none; background-color: red;
            border: none;"  onclick="cancelImageSelection('imageInput4', 'imagePreview4')">Cancel</button>
            <label for="imageInput2" class="image-label">    
                
            </label>
          
        </div>
            </div>
        </div>
        <div >
            <button type="submit" style="    margin-top: 2%; margin-left: 85%; width: 17%;
            text-align: center;" onclick="return validateForm()" class="btn btn-danger">submit</button>
           
        </div>
       
    </form>
    <script>
        function validateForm(){
            var name=document.getElementById('productname').value
            var Description=document.getElementById('description').value
            console.log(name);  
            console.log(Description);
            if (!/^[a-zA-Z]+$/.test(name) || name.trim() === ""){
                document.getElementById("nameError").innerText="plaes enter valid name "
                return false
            }else{
                document.getElementById("nameError").innerText=""
            }
            if (Description.trim() === "") {
                    document.getElementById("DescriptionError").innerText="pleas eneter discription"
                    return false;
                }else{
                    document.getElementById("DescriptionError").innerText=""
                }
                return true
        }



        
        </script>
          <script>
           function previewImage(input, previewId, cancelButtonId) {
    const preview = document.getElementById(previewId);
    const cancelButton = document.getElementById(cancelButtonId);

    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
            const image = new Image();
            image.src = e.target.result;
            image.width = 130;

            preview.innerHTML = '';
            preview.appendChild(image);
            cancelButton.style.display = 'inline-block'; 
        };

        reader.readAsDataURL(input.files[0]);
    } else {
        preview.innerHTML = '';
        cancelButton.style.display = 'none'; 
    }
}
</script>
<script>

function cancelImageSelection(inputId, previewId) {
    const input = document.getElementById(inputId);
    const preview = document.getElementById(previewId);
    const cancelButtonId = 'cancelButton' + inputId.charAt(inputId.length-1); 
    const cancelButton = document.getElementById(cancelButtonId);

    
    input.value = '';

    
    preview.innerHTML = '';
    cancelButton.style.display = 'none'; // 
}
</script>