<%- include('../layout/user/header.ejs') %>
   <link rel="stylesheet" href="path/to/bootstrap.css">
   <div>

  <table class="table ">
<thead>



</thead>

<tbody>
 
    <tr>
    <td>elooo</td>
    <td>hiiii</td>
    <td>eiiii</td>



    </tr>




</tbody>



  </table>



   </div>
   <%- include('../layout/user/footer.ejs') %>