
<%- include('../layout/user/header.ejs') %>
<%- include('../layout/admin/header.ejs') %>
<script src="https://kit.fontawesome.com/14093101a5.js" crossorigin="anonymous"></script>
<style>





    body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}


section {
	height: 30vh;
	display: flex;
	
	align-items: center;
	font-size: 2rem;
	color: black;
}
#portfolio {
	
	flex-direction: column;
    
}
#press {
	background-color: #9e0059;
}
#shop {
	background-color: #ff0054;
}
#about {
	background-color: #390099;
}



.containerr {
	position: relative;
    left: 0px;
    
   
   
    border-radius: 8px;
  justify-items: center;
	
}
.contin{
	position: relative;
    left: 0px;
  
    justify-items: center;
    background-color: aliceblue;
   width: 90%;
  
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
	

.sec {
	width: 100%;
	height: 50%;
}
.sub-sticky {
	width: 100%;
	position: sticky;
	top: 0;
}
.sec a {
	text-decoration: none;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	background: teal;
}
#s1 {
	background: hotpink;
}
#s2 {
	background: orange;
}
#s3 {
	background: purple;
}
#s4 {
	background: cyan;
}
</style>

<div class="responsive-container">
    <div class="text-mm"  style="background-color: aliceblue" >
        <h2>
.
        </h2>
    </div>
    <img src="/public/asset/img/breadcrumb.png" alt="Breadcrumb Image">
</div>

<main>
	<div class="main1">
		
		<section id="portfolio">
			
			<h3  >Change password</h3>
			<div  style="" class="containerr">
				 
				 
				<div class="contin">
					<div  class="col-md-12 form-group p_star">
						<input type="text" class="form-control" id="oldPassword" name="currentpassword" value=""
							placeholder="currentPassword">
					</div>
					<div class="col-md-12 form-group p_star">
						<input type="password" class="form-control" id="freshPassword" name="Newpassword" value=""
							placeholder=" New Password">
					</div>
					<div class="col-md-12 form-group p_star">
						<input type="password" class="form-control" id="freshConfirmation" name="password" value=""
							placeholder=" confirm Password">
					</div>
				</div>
					<div class="col-md-6 form-group d-flex mt-1 justify-content-center">
						
						
						<button onclick="validateAndSubmit()" class="btn btn-primary btn-hover-dark">
							Save Change
						</button>
						
					</div>
				
			
				
				</div>
			</div>
		
	</div>
	<aside style="background-color: aliceblue;" id="aside">
       
		<div>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/profile">
                        <i class="icon material-icons md-home"></i>
                        <span  class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/profileorder">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Order</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/Wallet">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Wallet</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/profileaddress">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Address</span>
                    </a>
                    </li>
					<li class="menu-item active ">
						<a class="menu-link" href="">
							<i class="icon material-icons md-store"></i>
							<span class="text">password</span>
						</a>
						</li>
						<li class="menu-item ">
							<a class="menu-link" href="/logout">
								<i class="icon material-icons md-store"></i>
								<span class="text">Logout</span>
							</a>
							</li>
                  
                
            
              
               
               
     
            </ul>
            <hr />
           
            
        </div>
		
		
	</aside>
</main>
<%- include('../layout/user/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function validateAndSubmit() {
    const currentPassword = document.getElementById('oldPassword').value;
    const newPassword = document.getElementById('freshPassword').value;
    const confirmPassword = document.getElementById('freshConfirmation').value;
    const errorElement = document.getElementById('change-error');

    errorElement.innerText = '';

    if (!currentPassword) {
        errorElement.innerText = 'Please enter your current password.';
        return;
    }

    if (!newPassword) {
        errorElement.innerText = 'Please enter a new password.';
        return;
    }

    if (!confirmPassword) {
        errorElement.innerText = 'Please confirm your new password.';
        return;
    }

    if (newPassword != confirmPassword) {
        errorElement.innerText = 'Passwords do not match.';
        return;
    }

    callChangePassword(currentPassword, newPassword);
}
    function callChangePassword(current,newPass){
        $.ajax({
            url:'/changepassword',
            method:'POST',
            data:{current,newPass},
            success:function(data){
                if (data.success) {
					console.log("hiiiiii");
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message
                }).then(()=>{
                    location.reload()
                })
            } else {
                console.log('eroooooorrrrrrrrrrrrrrr');
                document.getElementById('change-error').innerText = data.message;
            }
            },
            error:function(err){

            }
        })
    }
    </script>